<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="aloha\sqlexpress.QLBH.dbo" connectionString="XpoProvider=MSSqlServer;data source=ALOHA\SQLEXPRESS;integrated security=SSPI;initial catalog=QLBH" />
        <add name="QLBH.Properties.Settings.QLBHConnectionString" connectionString="Data Source=aloha\sqlexpress;Initial Catalog=QLBH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>